body {
  background-color: lightblue;
}

.container {
  background-color: white;
  background-image: url(../images/earth1.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  font-family: 'Crimson Text', serif;
  border: 5px solid gray;
}

h1,
h2 {
  font-family: 'Julius Sans One', sans-serif;
}

h1 {
  font-size: 100px;
}

h3 {
  font-size: 26px;
  font-weight: bold;
}

#countryMapOutline {
  background-image: url(../images/globe.png);
  background-position: center;
  background-repeat: no-repeat;
}

